<?xml version="1.0"?>
<root xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="xsens_mti_30_mass" value="0.055" scope="global" />

    <xacro:macro name="xsens_mti_30" params="name simulate:=1">
        <link name="$(arg prefix)${name}">
            <visual>
                <geometry>
                    <mesh filename="package://ctu_cras_norlab_husky_sensor_config_3/meshes/mti-30.dae"/>
                </geometry>
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 ${0.0236/2}"/>
                <geometry>
                    <box size="0.057 0.0419 0.0236"/>
                </geometry>
            </collision>
            <xacro:box_inertial mass="${xsens_mti_30_mass}" depth="0.057" width="0.0419" height="0.0236" xyz="0 0 ${0.0236/2}" />
        </link>
        <gazebo reference="$(arg prefix)${name}">
            <xacro:if value="${simulate}">
                <sensor name="${name}" type="imu">
                    <always_on>1</always_on>
                    <update_rate>50</update_rate>
                    <imu>
                        <angular_velocity>
                            <xacro:macro name="angular_imu_noise">
                                <noise type="gaussian">
                                    <mean>0</mean>
                                    <stddev>0.009</stddev>
                                    <bias_mean>0.00075</bias_mean>
                                    <bias_stddev>0.005</bias_stddev>
                                    <xacro:if value="${'$(arg rendering_target)' == 'ign'}">
                                        <dynamic_bias_stddev>0.00002</dynamic_bias_stddev>
                                        <dynamic_bias_correlation_time>400.0</dynamic_bias_correlation_time>
                                    </xacro:if>
                                    <precision>0.00025</precision>
                                </noise>
                            </xacro:macro>
                            <x><xacro:angular_imu_noise/></x>
                            <y><xacro:angular_imu_noise/></y>
                            <z><xacro:angular_imu_noise/></z>
                        </angular_velocity>
                        <linear_acceleration>
                            <xacro:macro name="linear_imu_noise">
                                <noise type="gaussian">
                                    <mean>0</mean>
                                    <stddev>0.021</stddev>
                                    <bias_mean>0.05</bias_mean>
                                    <bias_stddev>0.0075</bias_stddev>
                                    <xacro:if value="${'$(arg rendering_target)' == 'ign'}">
                                        <dynamic_bias_stddev>0.000375</dynamic_bias_stddev>
                                        <dynamic_bias_correlation_time>175.0</dynamic_bias_correlation_time>
                                    </xacro:if>
                                    <precision>0.005</precision>
                                </noise>
                            </xacro:macro>
                            <x><xacro:linear_imu_noise /></x>
                            <y><xacro:linear_imu_noise /></y>
                            <z><xacro:linear_imu_noise /></z>
                        </linear_acceleration>
                    </imu>
                </sensor>
            </xacro:if>
        </gazebo>
    </xacro:macro>
</root>