<?xml version="1.0"?>
<launch>

  <!-- This launch file is usefull for debuging urdfs. Include this in a launch 
  file that sets the robot_description parameter -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" 
    type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" 
    type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" required="true" />
</launch>
