<?xml version="1.0"?>
<model>
  <name>Satsop floor 3 Tile 16</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Tile for Satsop environment.
  </description>
</model>
