<?xml version='1.0'?>
<model>
  <name>Sophisticated Engineering X2 Config 1</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Wolfgang Schwab</name>
    <email>sophisticated.engineering@gmx.de</email>
  </author>

  <description>
    The Sohisticated Engineering X2 UGV with sensor configuration 1: HD camera, HD camera, IMU, pressure sensor, magnetometer.
    This configuration is the same as the X2 Config 5 with only bigger camera and light cone angle.
  </description>
</model>

