<launch>

  <node name="X1_comms_test" pkg="subt_comms_test" type="subt_comms_test" output="screen">
    <param name="address" value="X1"/>
    <param name="destination" value="X2"/>
  </node>

  <node name="X2_comms_test" pkg="subt_comms_test" type="subt_comms_test" output="screen">
    <param name="address" value="X2"/>
    <param name="destination" value="X1"/>
  </node>

</launch>
