<?xml version="1.0"?>

<model>
  <name>Rough Tunnel Tile Vertical Shaft</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Steve Peters</name>
    <email>scpeters@openrobotics.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
  </description>
</model>
