<?xml version="1.0"?>
<launch>
    <!-- Includes nodes necessary for using a depth camera. Can be used multiple times. -->

    <arg name="gazebo_topic" doc="The Gazebo 'base' topic (i.e. the prefix before /depth_image and /camera_info)." />
    <arg name="ros_topic" doc="The ROS topic to publish the camera on (prefix without /image_raw or /camera_info)." />
    <arg name="node_name_suffix" doc="Suffix of the generated nodes. Use to disambiguate if multiple cameras of any type are used." />
    <arg name="relay_points" default="1" doc="If 1, also the pointcloud is transmitted. If 0, only the depth image is." />

    <arg name="publish_optical_frame" default="1" doc="If true, optical frame publisher will be created. Otherwise you have to provide the optical publisher by some other means." />

    <!-- Depth camera info -->
    <node pkg="ros_ign_bridge" type="parameter_bridge" respawn="true"
      name="ros_ign_bridge_$(arg node_name_suffix)"
      args="$(arg gazebo_topic)/camera_info@sensor_msgs/CameraInfo[ignition.msgs.CameraInfo">
      <remap from="$(arg gazebo_topic)/camera_info" to="$(arg ros_topic)/camera_info"/>
    </node>

    <!-- Depth image -->
    <node pkg="ros_ign_image" type="image_bridge" respawn="true"
      name="ros_ign_image_$(arg node_name_suffix)"
      args="$(arg gazebo_topic)/depth_image">
      <remap from="$(arg gazebo_topic)/depth_image" to="$(arg ros_topic)/depth"/>
    </node>

    <!-- Depth optical publisher -->
    <node pkg="subt_ros" type="optical_frame_publisher" respawn="true"
      name="optical_frame_publisher_$(arg node_name_suffix)" if="$(arg publish_optical_frame)">
      <remap from="input/image" to="$(arg ros_topic)/depth" />
      <remap from="output/image" to="$(arg ros_topic)/optical/depth" />
      <remap from="input/camera_info" to="$(arg ros_topic)/camera_info" />
      <remap from="output/camera_info" to="$(arg ros_topic)/optical/camera_info" />
    </node>

    <!-- 3D cloud -->
    <node pkg="ros_ign_bridge" type="parameter_bridge" respawn="true"
          name="ros_ign_bridge_points_$(arg node_name_suffix)"
          args="$(arg gazebo_topic)/depth_image/points@sensor_msgs/PointCloud2[ignition.msgs.PointCloudPacked"
          if="$(arg relay_points)">
        <remap from="$(arg gazebo_topic)/depth_image/points" to="$(arg ros_topic)/depth/points"/>
    </node>

    <!-- Allow slowing down framerate of the camera. -->
    <include file="$(dirname)/set_rate_relay.launch">
      <arg name="name" value="ros_ign_bridge_$(arg node_name_suffix)_set_rate" />
      <arg name="ign_service" value="$(arg gazebo_topic)/depth_image/set_rate" />
      <arg name="ros_service" value="$(arg ros_topic)/set_rate" />
    </include>
</launch>