
<?xml version='1.0'?>
<model>
  <name>Robotika X2 Config 1</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Martin Dlouhy</name>
    <email>md@robotika.cz</email>
  </author>

  <description>
    The X2 robot configuration with RealSense D435i RGBD camera (640x360, 69deg-FoV), 30m 270-deg planar lidar, IMU and Gas detector
  </description>
</model>

