<?xml version="1.0"?>

<model>
  <name>barcs_qav500_sensor_config_1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Derek Vasquez</name>
    <email>dvasquez@ssci.com</email>
  </author>

  <author>
    <name>Neil Johnson</name>
    <email>neil.johnson@ssci.com</email>
  </author>

  <description>
    QAV500 UAV with sensor configuration #1: 3D medium range lidar, IMU, pressure sensor, magnetometer, HD front camera, 2x pico flexx tof cameras.
  </description>
</model>
