<?xml version="1.0"?>
<launch>
  <arg name="scenario" default="tunnel_practice_1"/>

  <param name="subt/ign_worlds_dir" value="$(find subt_ign)/worlds/" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"
         value="$(find subt_ign)/worlds/$(arg scenario).world" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="extra_gazebo_args" value="--verbose"/>
  </include>

  <include file="$(find subt_ign)/test/launch/test_team.launch">
  </include>

</launch>
