<?xml version="1.0"?>
<launch>
  <node pkg="ros1_ign_bridge" type="parameter_bridge" name="$(anon ros1_ign_bridge)" args="/world/tunnel_qual_ign/clock@rosgraph_msgs/Clock@ignition.msgs.Clock">
    <remap from="/world/tunnel_qual_ign/clock" to="/clock"/>
  </node>

  <node pkg="subt_ign" type="run_ign.bash" name="run_sim"/>
</launch>
