<?xml version="1.0"?>

<model>
  <name>cerberus_rmf_sensor_config_1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mihir Kulkarni</name>
    <email>mihirk284@gmail.com</email>
  </author>

  <author>
    <name>Paolo de Petris</name>
    <email>tiralonghipol@gmail.com</email>
  </author>

  <description>
    Autonomous Robots Lab Resilient Micro Flyer (RMF) UAV with sensor configuration #8: ToF sensor, IMU, tracking camera, magnetometer.
    Originally submitted as cerberus_rmf_sensor_config_1.
  </description>
</model>
