# Prerequisites
*.d
*.orig
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
cave_circuit_practice_02.dat
cave_circuit_03.dat
cave_circuit_04.dat
cave_circuit_07.dat
cave_circuit_08.dat
