<?xml version='1.0' encoding='utf-8'?>
<robot name="TeamBase" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="robot_namespace" value="TeamBase"/>

  <link name='${robot_namespace}/base_link'>
   <visual name='visual'>
      <origin xyz='0 0 0.05' rpy='0 0 0'/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
</robot>
