
<?xml version='1.0'?>
<model>
  <name>Coordinated Robotics Allie Sensor Config 1</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Kevin Knoedler</name>
    <email>ak619@lafn.org</email>
  </author>

  <description>
    Allie is a medium sized skid steer robot with 3d lidar, cameras and other sensors.
  </description>
</model>

