<?xml version="1.0"?>
<model>
  <name>Sophisticated Engineering X4 Config 1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Wolfgang Schwab</name>
    <email>sophisticated.engineering@gmx.de</email>
  </author>

  <description>
    X4 UAV with sensor configuration #9: HD camera, HD camera, IMU, pressure sensor, magnetometer.
    This configuration is the same as the X4 Config 5 with only bigger light cone angle and changed camera positions.
  </description>
</model>
