<?xml version="1.0"?>

<model>
  <name>ssci_x4_sensor_config_8</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Carlos Aguero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    X4 UAV with sensor configuration #8: 3D medium range lidar, IMU, pressure sensor, magnetometer.
  </description>
</model>
