<?xml version="1.0"?>
<model>
  <name>ctu_cras_norlab_husky_sensor_config_3</name>
  <sdf version="1.6">model.sdf</sdf>
  <description>
     Team CTU-CRAS-NORLAB's Husky robot for SubT.
  </description>
  <depend>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/CTU_CRAS_NORLAB_HUSKY_SENSOR_CONFIG_1</uri>
    </model>
  </depend>
</model>

