<?xml version="1.0"?>

<model>
  <name>ctu_cras_norlab_x500_sensor_config_1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Matej Petrlik</name>
    <email>matej.petrlik@fel.cvut.cz</email>
  </author>

  <description>
    CTU-CRAS-NORLAB X500 UAV 
    Sensor configuration:
    - 3D medium range lidar Ouster OS0-64
    - upward Intel Realsense D435 (RGBD camera)
    - downward Intel Realsense D435 (RGBD camera)
    - frontward Basler dart daA1600-60um with DSL165A lens (RGB camera)
    - standard SubT IMU 
  </description>
</model>
