<?xml version="1.0"?>
<model>
  <name>ctu_cras_norlab_husky_sensor_config_4</name>
  <sdf version="1.6">model.sdf</sdf>
  <description>
    Husky robot of CTU-CRAS-Norlab for SubT (Sensor Config 4).
  </description>
  <depend>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/CTU_CRAS_NORLAB_HUSKY_SENSOR_CONFIG_3</uri>
    </model>
  </depend>
</model>

