<?xml version="1.0"?>

<model>
  <name>explorer_canary1_sensor_config_1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>John Keller</name>
    <email>jkeller2@andrew.cmu.edu</email>
  </author>

  <description>
    CMU Explorer canary1: 2 3D medium range lidar (one velodyne and one vertically oriented ouster), IMU, 4 Cameras (the real robot has 2 fisheye cameras that together have a total of 360 degrees field of view, but 4 cameras are used in sim to get a 360 field of view since fisheyes aren't modeled in sim), Gas sensor, Pressure sensor, Magnetometer.
  </description>
</model>
