<?xml version="1.0"?>

<model>
  <name>Coordinated Robotics Bandicoot Config 1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Kevin Knoedler</name>
    <email>ak619@lafn.org</email>
  </author>

  <description>
    Coordinated Robotics Bandicoot UAV with sensor configuration #1: Two wide angle cameras, D435, 3d LIDAR, IMU, pressure sensor, magnetometer.
  </description>
</model>
