<?xml version='1.0'?>
<model>
  <name>lily</name>
  <sdf version="1.6">lily.sdf</sdf>
  <description>The ctu_cras_norlab_lily package describes six-legged platform equipped with:
    - 5 Basler Ace 2 Pro a2A1920-51gcPRO RGB cameras with 86° FOV lenses (Basler C125-0418-5M-P f4mm)
    - Ouster OS0-128 lidar
    - IMU
    - Gas sensor
  </description>
</model>
