<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lights">

  <xacro:flashlight flashlight_prefix="right" axis_>
    <origin xyz="0 -1 1" rpy="0 -3.14159/2 0" />
  </xacro:flashlight>

  <xacro:flashlight flashlight_prefix="left">
    <origin xyz="0 1 1" rpy="0 -3.14159/2 0" />
  </xacro:flashlight>

</robot>
