<?xml version="1.0"?>
<launch>

  <arg name="world_name"/>
  <arg name="robot_names" default=""/>
  <arg name="vehicle_topics" default="1"/>
  <arg name="enable_ground_truth" default="0"/>

  <param name="/use_sim_time" value="true"/>
  <param name="/world_name" value="$(arg world_name)"/>
  <rosparam param="/robot_names" subst_value='true'>$(arg robot_names)</rosparam>

  <node pkg="ros1_ign_bridge" type="parameter_bridge" name="$(anon ros1_ign_bridge)" args="/clock@rosgraph_msgs/Clock[ignition.msgs.Clock">
  </node>

  <node
    pkg="subt_ros"
    type="subt_ros_relay"
    name="subt_ros_relay"/>

  <group if="$(arg enable_ground_truth)">
    <!-- In the case that ground truth is enabled, also relay the /set_pose
         service, which allows teleportation of models in the sim environment.
         NOT FOR USE IN COMPETITION.
    -->
    <node
      pkg="subt_ros"
      type="set_pose_relay"
      name="set_pose_relay"/>
  </group>

  <!-- rosbag the console output -->
  <node pkg="rosbag" type="record" name="rosbag_record_console"
        args="record -o $(env HOME)/.ros/rosout_agg.bag /rosout_agg"/>

  <group if="$(arg vehicle_topics)">
    <include file="$(find subt_ros)/launch/vehicle_topics.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="name" value="X1"/>
    </include>
    <include file="$(find subt_ros)/launch/vehicle_topics.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="name" value="X2"/>
    </include>
    <include file="$(find subt_ros)/launch/vehicle_topics.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="name" value="X3"/>
    </include>
    <include file="$(find subt_ros)/launch/vehicle_topics.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="name" value="X4"/>
    </include>
  </group>

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_world_static" args="0 0 0 0 0 0 world $(arg world_name)"/>

</launch>
