<?xml version="1.0"?>
<launch>
  <arg name="worldName" doc="Name of gazebo world"/>
  <param name="X1/robot_description" command="$(find xacro)/xacro '$(find x1_description)/urdf/x1_from_sdf.xacro' worldName:=$(arg worldName)"/>
  <param name="X2/robot_description" command="$(find xacro)/xacro '$(find x2_description)/urdf/x2_from_sdf.xacro' worldName:=$(arg worldName)"/>
  <param name="X3/robot_description" command="$(find xacro)/xacro '$(find x3_description)/urdf/x3_from_sdf.xacro' worldName:=$(arg worldName)"/>
  <param name="X4/robot_description" command="$(find xacro)/xacro '$(find x4_description)/urdf/x4_from_sdf.xacro' worldName:=$(arg worldName)"/>
</launch>
