<?xml version="1.0"?>
<launch>
  <arg name="world_name"/>
  <arg name="link_name" value="base_link"/>
  <group ns="TeamBase">
    <!--Create multipe bridges so that it can run in parallel-->
    <node
      pkg="ros_ign_bridge"
      type="parameter_bridge"
      name="ros_ign_bridge_pose"
      args="/model/TeamBase/pose@geometry_msgs/TransformStamped[ignition.msgs.Pose">
      <remap from="/model/TeamBase/pose" to="pose"/>
    </node>
    <node
      pkg="subt_ros"
      type="pose_tf_broadcaster"
      name="pose_tf_broadcaster"/>
  </group>
</launch>
