<?xml version="1.0"?>
<launch>
  <arg name="name"/>
  <group ns="/model/$(arg name)">
    <!--Create multipe bridges so that it can run in parallel-->
    <node pkg="ros1_ign_bridge" type="parameter_bridge" name="ros1_ign_bridge_$(arg name)_imu" args="/model/$(arg name)/imu/data@sensor_msgs/Imu@ignition.msgs.IMU"/>
    <node pkg="ros1_ign_bridge" type="parameter_bridge" name="ros1_ign_bridge_$(arg name)_pose" args="/model/$(arg name)/pose@geometry_msgs/TransformStamped@ignition.msgs.Pose"/>
    <node pkg="ros1_ign_bridge" type="parameter_bridge" name="ros1_ign_bridge_$(arg name)_actuators" args="/model/$(arg name)/command/motor_speed@mav_msgs/Actuators@ignition.msgs.Actuators"/>

    <node pkg="subt_ros" type="pose_tf_broadcaster" name="pose_tf_broadcaster_$(arg name)">
      <remap from="pose" to="/model/$(arg name)/pose"/>
    </node>
  </group>
</launch>
