<?xml version='1.0'?>

<model>
  <name>flashlight</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Tetsuya Idota</name>
    <email>tidota@openrobotics.org</email>
  </author>

  <description>
    A simple flashlight model. It is a temporary model for development.
  </description>
</model>
