<?xml version="1.0"?>

<model>
  <name>explorer_ds1_sensor_config_1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Fan Yang</name>
    <email>fanyang2@andrew.cmu.edu</email>

    <name>John Keller</name>
    <email>jkeller2@email.com</email>
  </author>

  <description>
    CMU Explorer ds1 #8: 3D medium range lidar, IMU, pressure sensor, magnetometer, up down and forward Realsense Camera.
  </description>
</model>
