<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- NOTE: joint must match the name of the module -->
  <xacro:macro name="actuator" params="name child:='' type limits:=${[]}">
   
    <xacro:property name="model_name" value="${type}"/>

    <!-- Continuous joints (no position limits) -->
    <xacro:if value="${limits == []}">
      <xacro:property name="urdf_joint_type" value="continuous"/>
    </xacro:if>
    <!-- Revolute joints (position limits) -->
    <xacro:unless value="${limits == []}">
      <xacro:property name="urdf_joint_type" value="revolute"/>
    </xacro:unless>

    <!-- Set properties for model of actuator -->
    <xacro:if value="${model_name == 'X5_1'}">
      <xacro:property name="actuator_mass" value="0.315"/>
      <xacro:property name="effort_limit" value="2.5"/>
      <xacro:property name="velocity_limit" value="90"/>
    </xacro:if>
    <xacro:if value="${model_name == 'X5_4'}">
      <xacro:property name="actuator_mass" value="0.335"/>
      <xacro:property name="effort_limit" value="7.0"/>
      <xacro:property name="velocity_limit" value="32"/>
    </xacro:if>
    <xacro:if value="${model_name == 'X5_9'}">
      <xacro:property name="actuator_mass" value="0.360"/>
      <xacro:property name="effort_limit" value="13.0"/>
      <xacro:property name="velocity_limit" value="14"/>
    </xacro:if>
    <xacro:if value="${model_name == 'X8_3'}">
      <xacro:property name="actuator_mass" value="0.460"/>
      <xacro:property name="effort_limit" value="7"/>
      <xacro:property name="velocity_limit" value="84"/>
    </xacro:if>
    <xacro:if value="${model_name == 'X8_9'}">
      <xacro:property name="actuator_mass" value="0.480"/>
      <xacro:property name="effort_limit" value="20"/>
      <xacro:property name="velocity_limit" value="30"/>
    </xacro:if>
    <xacro:if value="${model_name == 'X8_16'}">
      <xacro:property name="actuator_mass" value="0.500"/>
      <xacro:property name="effort_limit" value="38"/>
      <xacro:property name="velocity_limit" value="15"/>
    </xacro:if>
    <xacro:if value="${model_name == 'R8_3'}">
      <xacro:property name="actuator_mass" value="0.670"/>
      <xacro:property name="effort_limit" value="7"/>
      <xacro:property name="velocity_limit" value="84"/>
    </xacro:if>
    <xacro:if value="${model_name == 'R8_9'}">
      <xacro:property name="actuator_mass" value="0.685"/>
      <xacro:property name="effort_limit" value="20"/>
      <xacro:property name="velocity_limit" value="30"/>
    </xacro:if>
    <xacro:if value="${model_name == 'R8_16'}">
      <xacro:property name="actuator_mass" value="0.715"/>
      <xacro:property name="effort_limit" value="38"/>
      <xacro:property name="velocity_limit" value="15"/>
    </xacro:if>

    <!-- Note: the frction/damping probably need to be tuned more for accurate simulation -->
    <xacro:if value="${model_name.startswith('X5')}">
      <xacro:property name="mesh_filename" value="package://ctu_cras_norlab_lily_sensor_config_1/meshes/X5.stl"/>
      <xacro:property name="damping" value="0.1"/>
      <xacro:property name="friction" value="0.1"/>
    </xacro:if>
    <xacro:if value="${model_name.startswith('X8')}">
      <xacro:property name="mesh_filename" value="package://ctu_cras_norlab_lily_sensor_config_1/meshes/X8.stl"/>
      <xacro:property name="damping" value="0.5"/>
      <xacro:property name="friction" value="0.5"/>
    </xacro:if>
    <xacro:if value="${model_name.startswith('R8')}">
      <xacro:property name="mesh_filename" value="package://ctu_cras_norlab_lily_sensor_config_1/meshes/R8.stl"/>
      <xacro:property name="damping" value="0.5"/>
      <xacro:property name="friction" value="0.5"/>
    </xacro:if>

    <link name="${name}/INPUT_INTERFACE">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_filename}" scale="0.001 0.001 0.001"/>
        </geometry>
        <xacro:unless value="${model_name.startswith('R8')}">
          <xacro:red_material/>
        </xacro:unless>
        <xacro:if value="${model_name.startswith('R8')}">
          <xacro:black_material/>
        </xacro:if>
      </visual>
      <!--
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${mesh_filename}" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      -->

      <!-- [!!!] NO MORE COMPATIBLE WITH ACTUATORS OTHER THAN R8 -->

      <!-- geometry simplification from file: R8.scad-->
      <!-- AUTOGENERATED from Openscad using openscad2xacro.py -->
      <!--  motor-cylindric -->
      <collision>
        <origin xyz="0.0 0.0 0.0251" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.052" radius="0.04" />
        </geometry>
      </collision>
      <!--  motor-cubic -->
      <collision>
        <origin xyz="-0.03 0.0 0.0251" rpy="0 0 0"/>
        <geometry>
          <box size="0.07 0.08 0.052" />
        </geometry>
      </collision>
      <!--  connector-body -->
      <collision>
        <origin xyz="-0.075 0.0 0.022" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.07 0.04" />
        </geometry>
      </collision>
      <!--  connector-connectors -->
      <collision>
        <origin xyz="-0.108 0.0 0.021" rpy="0 0 0"/>
        <geometry>
          <box size="0.02 0.05 0.02" />
        </geometry>
      </collision>
      <!-- AUTOGENERATION from Openscad using openscad2xacro.py ENDS HERE -->

      <inertial>
        <xacro:if value="${model_name.startswith('X5')}">
          <mass value="${actuator_mass}"/>
          <origin xyz="-0.0142 -0.0031 0.0165" rpy="0 0 0" />
          <inertia ixx="0.00015"  ixy="0.0000341"  ixz="0.0000118"
                   iyy="0.000255" iyz="0.00000229"
                   izz="0.000350" />
        </xacro:if>
        <xacro:if value="${model_name.startswith('X8')}">
          <mass value="${actuator_mass}"/>
          <origin xyz="-0.0145 -0.0031 0.0242" rpy="0 0 0" />
          <inertia ixx="0.000246" ixy="0.0000444" ixz="0.0000266"
                   iyy="0.000380" iyz="0.00000422"
                   izz="0.000463"/>
        </xacro:if>
        <xacro:if value="${model_name.startswith('R8_3')}">
          <mass value="${actuator_mass}"/>
          <origin xyz="-0.02396 -0.00161 0.02557" rpy="0 0 0" />
          <inertia ixx="0.000488" ixy="0.00001297" ixz="0.0000578"
                   iyy="0.001009" iyz="0.00000494"
                   izz="0.001186" />
        </xacro:if>
        
        <xacro:if value="${model_name.startswith('R8_9')}">
          <origin xyz="-0.02396 -0.00161 0.02557" rpy="0 0 0" />
          <!-- DO NOT TOUCH AUTOGENERATED by process-info.py using meshlab utils (http://gazebosim.org/tutorials?tut=inertia&cat=build_robot) -->
          <!-- processing: R8-9.info -->
          <!-- Is given matrix positive definite? True -->
          <mass value="${actuator_mass}"/>
          <inertia ixx="0.0004141337861342617"  ixy="-2.1394771313679384e-10" ixz="-2.9392131872516852e-05"
                                                iyy="0.001057695923832403"    iyz="-3.4016776600218287e-10"
                                                                              izz="0.0012232566193684036" />
          <!-- AUTOGENERATE END -->
        </xacro:if>
        
        <xacro:if value="${model_name.startswith('R8_16')}">
          <origin xyz="-0.02396 -0.00161 0.02557" rpy="0 0 0" />
          <!-- DO NOT TOUCH AUTOGENERATED by process-info.py using meshlab utils (http://gazebosim.org/tutorials?tut=inertia&cat=build_robot) -->
          <!-- processing: R8-16.info -->
          <!-- Is given matrix positive definite? True -->
          <mass value="${actuator_mass}"/>
          <inertia ixx="0.00043227103224233144"   ixy="-2.2331768597490156e-10" ixz="-3.0679378523867946e-05"
                                                  iyy="0.00110401837305134"     iyz="-3.550656243672419e-10"
                                                                                izz="0.0012768299019684792" />
          <!-- AUTOGENERATE END -->
        </xacro:if>
      </inertial>
    </link>
    <gazebo reference="${name}/INPUT_INTERFACE">
      <xacro:unless value="${model_name.startswith('R8')}">
        <xacro:gazebo_red_material/>
      </xacro:unless>
      <xacro:if value="${model_name.startswith('R8')}">
        <xacro:gazebo_black_material/>
      </xacro:if>
    </gazebo>

    <link name="${name}/${model_name}">
      <visual>
        <origin xyz="-0.03 0 0.02" rpy="0 0 0" />
        <geometry>
          <sphere radius="0.001"/>
        </geometry>
      </visual>
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.000001" ixy="0" ixz="0"
                 iyy="0.000001" iyz="0"
                 izz="0.000001" />
      </inertial>
    </link>

    <joint name="HEBI_SIM_JOINT/${name}" type="fixed">
      <parent link="${name}/INPUT_INTERFACE"/>
      <child link="${name}/${model_name}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <gazebo reference="HEBI_SIM_JOINT/${name}">
      <disableFixedJointLumping>true</disableFixedJointLumping>
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <joint name="${name}" type="${urdf_joint_type}">
      <parent link="${name}/INPUT_INTERFACE"/>
      <child link="${child}/INPUT_INTERFACE"/>
      <xacro:if value="${model_name.startswith('X5')}">
        <origin xyz="0 0 0.031" rpy="0 0 0"/>
      </xacro:if>
      <xacro:if value="${model_name.startswith('X8')}">
        <origin xyz="0 0 0.045" rpy="0 0 0"/>
      </xacro:if>
      <xacro:if value="${model_name.startswith('R8')}">
        <origin xyz="0 0 0.051" rpy="0 0 0"/>
      </xacro:if>
      <axis xyz="0 0 1"/>

      <!-- Continuous joints (no position limits) -->
      <xacro:if value="${limits == []}">
        <limit effort="${effort_limit}" velocity="${velocity_limit}"/>
      </xacro:if>
      <!-- Revolute joints (position limits) -->
      <xacro:unless value="${limits == []}">
        <limit effort="${effort_limit}" velocity="${velocity_limit}" lower="${limits[0]}" upper="${limits[1]}"/>
      </xacro:unless>
      
      <dynamics damping="${damping}" friction="${friction}"/>
    </joint>
  </xacro:macro>
</robot>

