<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="base">
    <link name="$(arg prefix)base_link">

      <!-- payload -->
      <visual>
        <origin xyz="0 0 0.1" rpy="${pi/2} 0 0" />
        <geometry>
          <mesh filename="package://ctu_cras_norlab_lily_sensor_config_1/meshes/body_payload.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <!-- inertia is used from symplified gemometry -->
      
      <!-- lower box -->
      <!-- 
      <visual>
        <origin xyz="0 0 0.05" rpy="0 0 0" />
        <geometry>
          <box size="0.4 0.2 0.1"/>
        </geometry>
      </visual>
      -->
      <collision>
        <origin xyz="0 0 0.05" rpy="0 0 0" />
        <geometry>
          <box size="0.4 0.2 0.1"/>
        </geometry>
      </collision>
      <!-- simplified inertia -->
      <!-- mass including chasis, onboard computer, breadcrumbs (???) etc.-->
      <xacro:box_inertial x_size="0.4" y_size="0.2" z_size="0.1" mass="7"
                          xyz="0 0 0.05" rpy="0 0 0"/>
    </link>

    <link name="$(arg prefix)upper_box">
      <!--
      <visual>
        <origin xyz="-0.05 0 0.15" rpy="0 0 0" />
        <geometry>
          <box size="0.25 0.2 0.1"/>
        </geometry>
      </visual>
      -->
      <collision>
        <origin xyz="-0.05 0 0.15" rpy="0 0 0" />
        <geometry>
          <box size="0.25 0.2 0.1"/>
        </geometry>
      </collision>
      <!-- simplified inertia -->
      <!-- mass including chasis, cameras, wifi, etc.-->
      <xacro:box_inertial x_size="0.25" y_size="0.2" z_size="0.1" mass="5"
                          xyz="-0.05 0 0.15" rpy="0 0 0"/>
    </link>
    <xacro:fixed_joint name="upper_box_j" parent="$(arg prefix)base_link" child="$(arg prefix)upper_box" />

    <link name="$(arg prefix)battery_right">
      <!-- battery-right -->
      <visual>
        <origin xyz="0.0 -0.04 0.02" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.201 0.075 0.021"/>  
        </geometry>
      </visual>
      <!-- DO NOT TOUCH AUTOGENERATED by process-info.py using meshlab utils (http://gazebosim.org/tutorials?tut=inertia&cat=build_robot) -->
      <!-- processing: hebi_battery.info -->
      <!-- Is given matrix positive definite? True -->
      <inertial>
        <origin xyz="0 -0.04 0.02" rpy="0 0 0"/>
        <mass value="0.6"/>
        <inertia ixx="0.0002958499855932691"  ixy="0.0"                   ixz="0.0"
                                              iyy="0.0020420999865537175" iyz="0.0" 
                                                                          izz="0.002293850039378397" />
      </inertial>
      <!-- AUTOGENERATE END -->
    </link>
    <xacro:fixed_joint name="battery_right_j" parent="$(arg prefix)base_link" child="$(arg prefix)battery_right" />

    <link name="$(arg prefix)battery_left">
      <!-- battery-left -->
      <visual>
        <origin xyz="0.0 0.04 0.02" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.201 0.075 0.021"/>  
        </geometry>
      </visual>
      <!-- DO NOT TOUCH AUTOGENERATED by process-info.py using meshlab utils (http://gazebosim.org/tutorials?tut=inertia&cat=build_robot) -->
      <!-- processing: hebi_battery.info -->
      <!-- Is given matrix positive definite? True -->
      <inertial>
        <origin xyz="0 0.04 0.02" rpy="0 0 0"/>
        <mass value="0.6"/>
        <inertia ixx="0.0002958499855932691"  ixy="0.0"                   ixz="0.0"
                                              iyy="0.0020420999865537175" iyz="0.0" 
                                                                          izz="0.002293850039378397" />
      </inertial>
      <!-- AUTOGENERATE END -->

    </link>
    <xacro:fixed_joint name="battery_left_j" parent="$(arg prefix)base_link" child="$(arg prefix)battery_left" />

    <!-- material -->
    <gazebo reference="$(arg prefix)base_link">
      <xacro:gazebo_black_material/>
    </gazebo>
    <gazebo reference="$(arg prefix)upper_box">
      <xacro:gazebo_black_material/>
    </gazebo>
    <gazebo reference="$(arg prefix)battery_right">
      <xacro:gazebo_black_material/>
    </gazebo>
    <gazebo reference="$(arg prefix)battery_left">
      <xacro:gazebo_black_material/>
    </gazebo>
  </xacro:macro>

  <!--==[SENSORS]==-->

  <!-- CAMERAS -->
  <!-- '-> camera defined in camera.xacro -->
  <!-- '-> fixed_joint defined in utils.xacro -->
  <xacro:include filename="./sensors/cameras.xacro"/>

  <!-- PLACEMENT DONE -->
  <xacro:ace2_camera suffix="front" visualize="1"/>
  <xacro:fixed_joint name="front_camera_j" parent="$(arg prefix)base_link" child="$(arg prefix)ace2_camera_front"
        xyz="0.09 -0.095 0.205" rpy="0 ${-30*pi/180} 0" />

  <!-- PLACEMENT DONE -->
  <xacro:ace2_camera suffix="back" visualize="1"/>
  <xacro:fixed_joint name="back_camera_j" parent="$(arg prefix)base_link" child="$(arg prefix)ace2_camera_back"
        xyz="-0.19 0.095 0.205" rpy="0 ${-30*pi/180} ${pi}" />

  <xacro:ace2_camera suffix="left" visualize="1"/>
  <xacro:fixed_joint name="left_camera_j" parent="$(arg prefix)base_link" child="$(arg prefix)ace2_camera_left"
        xyz="0.06 0.125 0.205" rpy="0 ${-30*pi/180} ${pi/2}" />
  
  <xacro:ace2_camera suffix="right" visualize="1"/>
  <xacro:fixed_joint name="right_camera_j" parent="$(arg prefix)base_link" child="$(arg prefix)ace2_camera_right"
        xyz="-0.16 -0.125 0.205" rpy="0 ${-30*pi/180} ${3*pi/2}" />

  <!-- PLACEMENT DONE -->
  <xacro:ace2_camera suffix="up" visualize="1"/>
  <xacro:fixed_joint name="up_camera_j" parent="$(arg prefix)base_link" child="$(arg prefix)ace2_camera_up"
        xyz="-0.16 0.04 0.225" rpy="0 -${pi/2} 0" />

  <!-- LIGHTS -->

  <xacro:include filename="./lights.xacro" />

  <gazebo reference="$(arg prefix)base_link">
    <xacro:led_stripe name="light_left" range="30" linear="0.2" constant="0.1" quadratic="0.0025"
                      inner_angle="2.8" outer_angle="2.9"
                      pose="0.02 0.125 0.245 0 ${-0.523599-pi/2} ${pi/2}" />
    <xacro:led_stripe name="light_right" range="30" linear="0.2" constant="0.1" quadratic="0.0025"
                      inner_angle="2.8" outer_angle="2.9"
                      pose="-0.18 -0.145 0.245 -0 ${-0.523599-pi/2} ${-pi/2}" />
    <xacro:led_stripe name="light_front" range="30" linear="0.2" constant="0.1" quadratic="0.0025"
                      inner_angle="2.8" outer_angle="2.9"
                      pose="0.11 -0.115 0.245 0 ${-0.523599-pi/2} 0" />
    <xacro:led_stripe name="light_rear" range="40" linear="0" constant="0.2" quadratic="0.0025"
                      inner_angle="2.8" outer_angle="2.9"
                      pose="-0.21 0.115 0.245 0 ${-0.523599-pi/2} ${-pi}" />
    <xacro:spot_light_up name="light_up"
                      pose="-0.16 0.04 0.225 0 0 ${3*pi/2} 0" />
  </gazebo>

  <!-- LIDAR -->
  <!-- '-> lidar is defined in ouster_lidar.xacro -->
  <!-- '-> fixed_joint defined in utils.xacro -->
  <xacro:include filename="./sensors/ouster_lidar.xacro"/>
  
  <!-- [!] TODO MODIFY PLACEMENT -->
  <xacro:ouster_os0_128 name="$(arg prefix)main" visualize="1"/>
  <xacro:fixed_joint name="ouster_j" parent="$(arg prefix)base_link" child="$(arg prefix)main_ouster_lidar"
        xyz="0 0 0.261" rpy="0 0 0"/>

  <!-- IMU -->
  <!-- '-> imus are defined in imu.xacro -->
  <!-- '-> fixed_joint defined in utils.xacro -->
  <xacro:include filename="./sensors/imu.xacro"/>

  <xacro:generic_imu suffix="base" visualize="1"/>
  <xacro:fixed_joint name="imu_j" parent="$(arg prefix)base_link" child="$(arg prefix)imu_base"
        xyz="0 0 0" rpy="0 0 0"/>
  

</robot>