<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="basic"/>
  <arg name="paused" value="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- spawns world plugin librotors_gazebo_ros_interface_plugin.so -->
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="verbose" value="true"/>
  </include>

  <group ns="iris">
    <include file="$(find subt_iris_description)/launch/spawn_iris.launch">
      <arg name="mav_name" value="iris" />
    </include>

    <!-- TODO(sloretz) spawn node to turn imu/magnetometer/pressure sensor into odometry -->

    <!-- Converts joystick movements into sensors_msgs/Joy messages -->
    <node name="joy_node" pkg="joy" type="joy_node" />

    <!-- Converts sensor_msgs/Joy to mav_msgs/RollPitchYawRateThrust messages -->>
    <node name="rotors_joy_interface" pkg="rotors_joy_interface" type="rotors_joy_interface">
      <!-- (almost) Mode 2 controls on a Logitech F310 gamepad -->
      <param name="axis_roll_" value="2"/>
      <param name="axis_pitch_" value="3"/>
      <param name="axis_thrust_" value="1"/>
      <!-- this node uses buttons for yaw :( so use left and right bumpers -->
      <param name="button_yaw_left_" value="4"/>
      <param name="button_yaw_right_" value="5"/>
      <!-- make it more fun to fly -->
      <param name="max_roll" value="0.3"/>
      <param name="max_pitch" value="0.3"/>
      <param name="max_yaw_rate" value="3"/>
    </node>

    <!-- Sends motor commands based given commanded rates for roll/pitch/yaw and thrust -->
    <node name="roll_pitch_yawrate_thrust_controller_node" pkg="rotors_control" type="roll_pitch_yawrate_thrust_controller_node">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/roll_pitch_yawrate_thrust_controller_iris.yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/iris.yaml" />
      <remap from="odometry" to="odometry_sensor1/odometry" />
    </node>

    <!-- Given robot_descriptom parameter and joint states, publish TF frames -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>
</launch>
