<?xml version="1.0"?>
<model>
  <name>ctu_cras_norlab_marv_sensor_config_1</name>
  <sdf version="1.7">model.sdf</sdf>
  <description>
    CTU-CRAS-Norlab MARV Sensor config 1 tracked vehicle package has:
    - 5 Basler Ace 2 Pro a2A1920-51gcPRO RGB cameras with 86° FOV lenses (Basler C125-0418-5M-P f4mm)
    - 2 Basler Ace acA2040-35gc RGB cameras with 138° FOV fisheye lenses (Evetar M118B029520IR)
    - Ouster OS0-128 lidar
    - 4 TFMini plus point lidars
    - IMU Xsens MTI-30
    - Gas sensor
    - Weight: about 61 kg
  </description>
</model>

