<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="namespace" value="$(arg robot_namespace)" />
 
  <!-- Macros to generate standoffs for offset payload mounting. -->
  <xacro:include filename="$(find jackal_description)/urdf/accessories/standoffs.urdf.xacro" />

  <!-- This optional plate mounts both the upgraded GPS and the Velodyne 3D LIDAR. -->
  <xacro:include filename="$(find jackal_description)/urdf/accessories/bridge_plate.urdf.xacro" />

  <xacro:include filename="$(find x2_description)/urdf/laser_mount.urdf.xacro" />
  <xacro:include filename="$(find subt_sensors)/urdf/planar_lidar.urdf.xacro" />
  <xacro:include filename="$(find x2_description)/urdf/camera_mount.urdf.xacro" />
  <xacro:include filename="$(find pointgrey_camera_description)/urdf/pointgrey_flea3.urdf.xacro" />

  <xacro:macro name="planar_short_range_lidar_and_mount">
    <laser_mount prefix="front"/>
    <planar_lidar 
      frame="front_laser"
      topic="${namespace}/front_scan"
      mesh="package://subt_sensors/meshes/hokuyo.dae"
      min_angle="2.3562"
      max_angle="-2.3562"
      min_range="0.1"
      max_range="5"
    />

    <joint name="front_laser_mount_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${namespace}/front_mount" />
      <child link="front_laser_mount" />
    </joint>
  </xacro:macro>

  <xacro:macro name="planar_mid_range_lidar_and_mount">
    <laser_mount prefix="front"/>
    <planar_lidar 
      frame="front_laser"
      topic="${namespace}/front_scan"
      mesh="package://subt_sensors/meshes/sick-lms1xx.dae"
      min_angle="2.3562"
      max_angle="-2.3562"
      min_range="0.1"
      max_range="30"
    />

    <joint name="front_laser_mount_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${namespace}/front_mount" />
      <child link="front_laser_mount" />
    </joint>
  </xacro:macro>

  <xacro:macro name="qvga_camera_and_mount">
    <camera_mount prefix="front"
                  tilt="0.2618"/>
    <joint name="front_camera_mount_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${namespace}/front_mount" />
      <child link="front_camera_mount" />
    </joint>

    <pointgrey_flea3 frame="front_camera" name="front"
      camera_x="0.0754" camera_y="0.029" camera_z="0.029"
      camera_mass="0.085" hfov="1.0471975512" fps="30" width="320" height="240"
      near="0.01" />
    <joint name="front_camera_bracket_joint" type="fixed">
      <origin xyz="0.020 0 0.0245" rpy="0 0 0" />
      <parent link="front_camera_beam" />
      <child link="front_camera" />
    </joint>
  </xacro:macro>

  <xacro:macro name="hd_camera_and_mount">
    <camera_mount prefix="front"
                  tilt="0.2618"/>
    <joint name="front_camera_mount_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${namespace}/front_mount" />
      <child link="front_camera_mount" />
    </joint>

    <pointgrey_flea3 frame="front_camera" name="front"
      camera_x="0.0754" camera_y="0.029" camera_z="0.029"
      camera_mass="0.085" hfov="1.0471975512" fps="30" width="1280" height="960"
      near="0.01" />
    <joint name="front_camera_bracket_joint" type="fixed">
      <origin xyz="0.020 0 0.0245" rpy="0 0 0" />
      <parent link="front_camera_beam" />
      <child link="front_camera" />
    </joint>
  </xacro:macro>

  <!-- Sensor configuration #1
         * 2D short range lidar
         * QVGA camera
         * IMU
  -->
  <xacro:if value="$(optenv X2_SENSOR_CONFIG_1 0)">
    <planar_short_range_lidar_and_mount />
    <qvga_camera_and_mount />
  </xacro:if>

  <!-- Sensor configuration #2
         * 2D short range lidar
         * HD camera
         * IMU
  -->
  <xacro:if value="$(optenv X2_SENSOR_CONFIG_2 0)">
    <planar_short_range_lidar_and_mount />
    <hd_camera_and_mount />
  </xacro:if>

  <!-- Sensor configuration #3
         * 2D mid range lidar
         * QVGA camera
         * IMU
  -->
  <xacro:if value="$(optenv X2_SENSOR_CONFIG_3 0)">
    <planar_mid_range_lidar_and_mount />
    <qvga_camera_and_mount />
  </xacro:if>

  <!-- Sensor configuration #4
         * 2D mid range lidar
         * HD camera
         * IMU
  -->
  <xacro:if value="$(optenv X2_SENSOR_CONFIG_4 0)">
    <planar_mid_range_lidar_and_mount />
    <hd_camera_and_mount />
  </xacro:if>

</robot>
