<robot>
  <!-- This file is an example that can be included from x2.urdf.xacro
       by setting the X2_URDF_EXTRAS environment variable to the full
       path of this file. -->

  <camera_mount prefix="front" tilt="0.5236"/>
  <joint name="front_camera_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="front_mount" />
    <child link="front_camera_mount" />
  </joint>
  <BB2-08S2C-38 frame="front_camera" name="front" />
  <joint name="front_camera_bracket_joint" type="fixed">
    <origin xyz="0.007 0 0.02450" rpy="0 0 0" />
    <parent link="front_camera_beam" />
    <child link="front_camera" />
  </joint>

  <sick_lms1xx_mount prefix="front" topic="front/scan"/>

  <joint name="front_laser_mount_joint" type="fixed">
    <origin xyz="0 0 0.002" rpy="0 0 0" />
    <parent link="front_mount" />
    <child link="front_laser_mount" />
  </joint>

  <camera_mount prefix="rear" tilt="0.5236"/>
  <joint name="rear_camera_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 3.141" />
    <parent link="rear_mount" />
    <child link="rear_camera_mount" />
  </joint>
  <BB2-08S2C-38 frame="rear_camera" name="rear" />
  <joint name="rear_camera_bracket_joint" type="fixed">
    <origin xyz="0.007 0 0.02450" rpy="0 0 0" />
    <parent link="rear_camera_beam" />
    <child link="rear_camera" />
  </joint>

  <sick_lms1xx_mount prefix="rear" topic="rear/scan"/>

  <joint name="rear_laser_mount_joint" type="fixed">
    <origin xyz="0 0 0.002" rpy="0 0 3.141" />>
    <parent link="rear_mount" />
    <child link="rear_laser_mount" />
  </joint>

  <bridge_plate mount="rear" height="0.20" />
  <camera_mount prefix="rear_upper" tilt="0"/>
  <joint name="rear_upper_camera_mount_joint" type="fixed">
    <origin xyz="0 0 0.001" rpy="0 0 0" />
    <parent link="rear_bridge" />
    <child link="rear_upper_camera_mount" />
  </joint>

  <pointgrey_flea3 frame="rear_upper_camera" name="rear_upper"
    camera_x="0.0754" camera_y="0.029" camera_z="0.035"
    camera_mass="0.085" hfov="1.0471975512" fps="60" width="640" height="512"/>
  <joint name="rear_upper_camera_bracket_joint" type="fixed">
    <origin xyz="0.020 0 0.0245" rpy="0 0 0" />
    <parent link="rear_upper_camera_beam" />
    <child link="rear_upper_camera" />
  </joint>
</robot>
