<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      decorations.urdf.xacro
\authors   Carlos Aguero <caguero@openrobotics.org>, Paul Bovbel <pbovbel@clearpathrobotics.com>, Devon Ash <dash@clearpathrobotics.com>
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="x1_decorations" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="x1_decorate">

    <!-- Spawn X1 chassis -->
    <link name="${namespace}/top_chassis_link">
    </link>

    <!-- Attach chassis to the robot -->
    <joint name="top_chassis_joint" type="fixed">
      <parent link="${namespace}/base_link" />
      <child link="${namespace}/top_chassis_link" />
    </joint>

    <link name="${namespace}/top_plate_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://husky_description/meshes/top_plate.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://husky_description/meshes/top_plate.dae" />
        </geometry>
      </collision>
      <collision>
        <!-- Extra collision tag for widgets on top plate -->
        <geometry>
          <box size="0.32 0.41 0.09" rpy="0 0 0"/>
        </geometry>
      </collision>
    </link>
    <!-- Attach top plate -->
    <joint name="top_plate_joint" type="fixed">
      <parent link="${namespace}/base_link" />
      <child link="${namespace}/top_plate_link"/>
      <origin xyz="0.0812 0 0.245" rpy="0 0 0"/>
    </joint>
    <!-- Top plate front link -->
    <joint name="top_plate_front_joint" type="fixed">
      <parent link="${namespace}/top_plate_link" />
      <child link="${namespace}/top_plate_front_link"/>
      <origin xyz="0.24 0 0.00639" rpy="0 0 0"/>
    </joint>
    <!-- Top plate rear link-->
    <joint name="top_plate_rear_joint" type="fixed">
      <parent link="${namespace}/top_plate_link" />
      <child link="${namespace}/top_plate_rear_link"/>
      <origin xyz="-0.36633 0 0.00639" rpy="0 0 0"/>
    </joint>
    <link name="${namespace}/top_plate_front_link"/>
    <link name="${namespace}/top_plate_rear_link"/>

  </xacro:macro>

</robot>
