<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="led">

  <xacro:macro name="led" params="led_prefix xyz rpy **plugin_params">
    <link name="${namespace}/${led_prefix}_led_link">

      <visual name="marker">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://x1_description/meshes/led.dae" />
        </geometry>
      </visual>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.000001" />
        <inertia
          ixx="0.001"
          ixy="0.0" iyy="0.001"
          ixz="0.0" iyz="0.0" izz="0.001"
        />
      </inertial>
    </link>

    <joint name="${led_prefix}_led" type="fixed">
      <parent link="${namespace}/base_link"/>
      <child link="${namespace}/${led_prefix}_led_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <gazebo>
      <model name="${led_prefix}_led">
        <pose>${xyz} ${rpy}</pose>
        <link name="body">
          <pose>0 0 0.0005 0 0 0</pose>
          <light name='light_source' type='point'>
            <pose>0 0 0 0 0 0</pose>
            <attenuation>
              <range>2.0</range>
              <constant>0.5</constant>
              <linear>0.10</linear>
              <quadratic>0.5</quadratic>
            </attenuation>
            <diffuse>0 0 0 1</diffuse>
            <specular>0 0 0 1</specular>
          </light>

          <visual name="light_source">
            <geometry>
              <mesh>
                <uri>package://x1_description/meshes/led_lamp.dae</uri>
              </mesh>
            </geometry>
            <transparency>1</transparency>
            <material>
              <ambient>1 1 1 1</ambient>
              <diffuse>1 1 1 1</diffuse>
              <specular>1 1 1 1</specular>
              <emissive>0 0 0 1</emissive>
            </material>
            <plugin name='light_source_visualize' filename='libLightVisualPlugin.so'>
              <light>
                <id>light_source</id>
                <visualize>false</visualize>
              </light>
            </plugin>
          </visual>
          <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass>0.000001</mass>
            <inertia>
              <ixx>0.001</ixx>
              <ixy>0.0</ixy><iyy>0.001</iyy>
              <ixz>0.0</ixz><iyz>0.0</iyz><izz>0.001</izz>
            </inertia>
          </inertial>
        </link>

        <plugin name='light_control' filename='libRosFlashLightPlugin.so'>
          <service_name>enable</service_name>
          <light>
            <id>body/light_source</id>
            <xacro:insert_block name="plugin_params"/>
            <enable>false</enable>
            <duration>1</duration>
            <interval>0</interval>
            <color>1 1 1</color>
          </light>
        </plugin>
      </model>
    </gazebo>

    <gazebo>
      <joint name="${led_prefix}_led" type="fixed">
        <parent>${namespace}/base_link</parent>
        <child>${led_prefix}_led::body</child>
      </joint>
    </gazebo>

  </xacro:macro>
</robot>
