<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="namespace" value="$(arg robot_namespace)" />
 
  <xacro:include filename="$(find x2_description)/urdf/laser_mount.urdf.xacro" />
  <xacro:include filename="$(find subt_sensors)/urdf/planar_lidar.urdf.xacro" />
  <xacro:include filename="$(find x2_description)/urdf/camera_mount.urdf.xacro" />
  <xacro:include filename="$(find pointgrey_camera_description)/urdf/pointgrey_flea3.urdf.xacro" />
  <xacro:include filename="$(find subt_sensors)/urdf/3d_lidar.urdf.xacro" />


  <xacro:macro name="planar_short_range_lidar_and_mount">
    <laser_mount prefix="front"/>
    <planar_lidar 
      name="${namespace}/front_laser"
      topic="${namespace}/front_scan"
      mesh="package://subt_sensors/meshes/hokuyo.dae"
      min_angle="-2.3562"
      max_angle="2.3562"
      min_range="0.06"
      max_range="5"
      update_rate="20"
    />

    <joint name="front_laser_mount_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${namespace}/top_plate_front_link" />
      <child link="${namespace}/front_laser_mount" />
    </joint>
  </xacro:macro>

  <xacro:macro name="planar_mid_range_lidar_and_mount">
    <laser_mount prefix="front"/>
    <planar_lidar 
      name="${namespace}/front_laser"
      topic="${namespace}/front_scan"
      mesh="package://subt_sensors/meshes/sick-lms1xx.dae"
      min_angle="-2.3562"
      max_angle="2.3562"
      min_range="0.1"
      max_range="20"
      update_rate="20"
    />

    <joint name="front_laser_mount_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${namespace}/top_plate_front_link" />
      <child link="${namespace}/front_laser_mount" />
    </joint>
  </xacro:macro>

  <xacro:macro name="velodyne_mid_range_lidar_and_mount">
    <laser_mount prefix="front"/>
    <velodyne_lidar 
      name="${namespace}/front_laser"
      topic="${namespace}/points"
      max_range="75"
      update_rate="15"
    />

    <joint name="front_laser_mount_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${namespace}/top_plate_link" />
      <child link="${namespace}/front_laser_mount" />
    </joint>
  </xacro:macro>

  <xacro:macro name="velodyne_long_range_lidar_and_mount">
    <laser_mount prefix="front"/>
    <velodyne_lidar 
      name="${namespace}/front_laser"
      topic="${namespace}/points"
      max_range="200"
      update_rate="15"
    />

    <joint name="front_laser_mount_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${namespace}/top_plate_link" />
      <child link="${namespace}/front_laser_mount" />
    </joint>
  </xacro:macro>

  <xacro:macro name="qvga_camera_and_mount">
    <camera_mount prefix="front"
                  tilt="0.2618"/>
    <joint name="front_camera_mount_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${namespace}/top_plate_front_link" />
      <child link="${namespace}/front_camera_mount" />
    </joint>

    <pointgrey_flea3 frame="${namespace}/front_camera" name="front"
      camera_x="0.0754" camera_y="0.029" camera_z="0.029"
      camera_mass="0.085" hfov="1.0471975512" fps="20" width="320" height="240"
      near="0.01" />
    <joint name="front_camera_bracket_joint" type="fixed">
      <origin xyz="0.020 0 0.0245" rpy="0 0 0" />
      <parent link="${namespace}/front_camera_beam" />
      <child link="${namespace}/front_camera" />
    </joint>
  </xacro:macro>

  <xacro:macro name="hd_camera_and_mount">
    <camera_mount prefix="front"
                  tilt="0.2618"/>
    <joint name="front_camera_mount_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${namespace}/top_plate_front_link" />
      <child link="${namespace}/front_camera_mount" />
    </joint>

    <pointgrey_flea3 frame="${namespace}/front_camera" name="front"
      camera_x="0.0754" camera_y="0.029" camera_z="0.029"
      camera_mass="0.085" hfov="1.0471975512" fps="20" width="1280" height="960"
      near="0.01" />
    <joint name="front_camera_bracket_joint" type="fixed">
      <origin xyz="0.020 0 0.0245" rpy="0 0 0" />
      <parent link="${namespace}/front_camera_beam" />
      <child link="${namespace}/front_camera" />
    </joint>
  </xacro:macro>

</robot>
