<?xml version='1.0'?>
<model>
  <name>ssci_x2_sensor_config_1</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>
  
  <author>
	<name>Neil Johnson</name>
	<email>neil.johnson@ssci.com</email>
  </author>

  <description>
    An X2 ground robot with the following sensors:
		 - 2D lidar (based on RPLidar S1, 360 degrees)
		 - 2 VGA RGBD cameras: one facing up about 20 deg and one facing down 20 deg.  
		 - An upward facing point lidar for measuring height to ceiling.  
  </description>
</model>

