<?xml version="1.0"?>
<model>
  <name>marble_spot_sensor_config_2</name>
  <sdf version="1.6">model.sdf</sdf>
  <description>
    Boston Dynamics Spot of Marble team.
  </description>
  <depend>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/openrobotics/models/bosdyn spot</uri>
    </model>
  </depend>
</model>
