<?xml version='1.0'?>
<model>
  <name>X4 Config 6</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>
  
  <author>
	<name>Neil Johnson</name>
	<email>neil.johnson@ssci.com</email>
  </author>
  <author>
	<name>Hector Escobar</name>
	<email>hector.escobar@ssci.com</email>
  </author>

  <description>
    An X4 air vehicle robot with the following sensors:
		- Upward and downward facing lidars to be modeled after the lidar lite v3, 
        - 2D lidar to be modeled off of the RPLidar S1 360 degrees 
        - RGBD Camera
        - Magnetometer
        - IMU
        - Air pressure
  </description>
</model>

