<?xml version="1.0"?>

<model>
  <name>Tunnel Entrance</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>ichen@osrfoundation.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>


  <description>
    An entrace to a tunnel.
  </description>
</model>
