<?xml version="1.0"?>
<launch>

  <arg name="multimaster" default="$(optenv ROBOT_MULTIMASTER false)"/>
  <arg name="simulation" default="$(optenv ROBOT_SIMULATION false)"/>
  <arg name="robot_namespace" default=""/>

  <arg name="config_extras"
       default="$(eval optenv('X1_CONFIG_EXTRAS', find('x1_control') + '/config/empty.yaml'))"/>

  <arg name="laser_enabled" default="$(optenv X1_LMS1XX_ENABLED false)"/>
  <arg name="kinect_enabled" default="$(optenv X1_KINECT_ENABLED false)"/>
  <arg name="urdf_extras" default="$(optenv X1_URDF_EXTRAS)"/>

  <include file="$(find multimaster_launch)/launch/multimaster_robot.launch" if="$(arg multimaster)">
    <arg name="gazebo_interface" value="$(find x1_control)/config/gazebo_interface.yaml" />
    <arg name="public_interface" value="$(find x1_control)/config/public_interface.yaml" />
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <!-- Load robot description -->
  <include file="$(find x1_description)/launch/description.launch" >
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" value="$(arg urdf_extras)"/>
  </include>

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find x1_control)/config/control.yaml" />

  <!-- substitute the base link frame -->
  <rosparam param="x1_velocity_controller/base_frame_id" subst_value="True">$(arg robot_namespace)/base_link</rosparam>
  <rosparam param="x1_velocity_controller/odom_frame_id" subst_value="True">$(arg robot_namespace)/odom</rosparam>

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="x1_joint_publisher x1_velocity_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find x1_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="x1_velocity_controller/cmd_vel"/>
  </node>

  <!-- Override the default control parameters, see config/empty.yaml for default. -->
  <rosparam command="load" file="$(arg config_extras)" />

</launch>
