<?xml version="1.0"?>
<root xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="inertia_meshlab" params="ixx ixy ixz iyy iyz izz scale mass">
        <inertia
                ixx="${ixx*scale*scale}" ixy="${ixy*scale*scale}" ixz="${ixz*scale*scale}"
                iyy="${iyy*scale*scale}" iyz="${iyz*scale*scale}"
                izz="${izz*scale*scale}"/>
    </xacro:macro>

    <xacro:macro name="sphere_inertial" params="radius mass *origin">
        <inertial>
            <mass value="${mass}" />
            <xacro:insert_block name="origin" />
            <inertia ixx="${2.0/5 * mass * radius * radius}" ixy="0.0" ixz="0.0"
                     iyy="${2.0/5 * mass * radius * radius}" iyz="0.0"
                     izz="${2.0/5 * mass * radius * radius}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="box_inertial" params="width height depth mass *origin">
        <inertial>
            <mass value="${mass}" />
            <xacro:insert_block name="origin" />
            <inertia ixx="${1.0/12 * mass * (height * height + depth * depth)}" ixy="0.0" ixz="0.0"
                     iyy="${1.0/12 * mass * (width * width + depth * depth)}" iyz="0.0"
                     izz="${1.0/12 * mass * (width * width + height * height)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertial" params="radius length mass *origin">
        <inertial>
            <mass value="${mass}" />
            <xacro:insert_block name="origin" />
            <inertia ixx="${1.0/12 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
                     iyy="${1.0/12 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
                     izz="${0.5 * mass * radius * radius}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="default_inertial">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1e-5" />
            <inertia ixx="1e-3" ixy="1e-6" ixz="1e-6"
                     iyy="1e-3" iyz="1e-6"
                     izz="1e-3" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="empty_link" params="name">
        <link name="${name}">
            <xacro:default_inertial />
        </link>
    </xacro:macro>

    <xacro:macro name="fixed_joint" params="name parent child xyz='0 0 0' rpy='0 0 0'">
        <joint name="${name}" type="fixed">
            <parent link="${parent}"/>
            <child link="${child}"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </joint>
    </xacro:macro>
</root>