<?xml version="1.0"?>
<model>
  <name>explorer_spot_sensor_config_1</name>
  <sdf version="1.6">model.sdf</sdf>
  <description>
    Boston Dynamics Spot of the Explorer team.
  </description>
  <depend>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/openrobotics/models/bosdyn_spot</uri>
    </model>
  </depend>
</model>
