<launch>

  <!-- Run the map server -->
 <arg name="map_file" default="$(find x2_navigation)/maps/x2_race.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find x2_navigation)/launch/include/amcl.launch" />

  <!--- Run Move Base -->
 <include file="$(find x2_navigation)/launch/include/move_base.launch" />

</launch>
