<launch>

  # Launch the SubT world.
  <include file="$(find subt_gazebo)/launch/lava_tube.launch">
  </include>

  # Spawn your team here.
  <arg name="laser_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" value="$(find subt_example)/urdf/husky.equipments.urdf.xacro"
  </include>

  <include file="$(find teleop_twist_joy)/launch/teleop.launch"/>

</launch>
