<launch>

  # Launch the SubT world.
  <include file="$(find subt_gazebo)/launch/lava_tube.launch">
  </include>

  # Spawn your team here.
  <arg name="laser_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>

  <include file="$(find subt_example)/launch/spawn_husky.launch">
    <arg name="namespace" value="robotA"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="0"/>
    <arg name="yaw" value="0"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" value="$(find subt_example)/urdf/husky_equipments.urdf.xacro"/>
  </include>
  <include file="$(find subt_example)/launch/spawn_husky.launch">
    <arg name="namespace" value="robotB"/>
    <arg name="x" value="2"/>
    <arg name="y" value="1"/>
    <arg name="z" value="0"/>
    <arg name="yaw" value="3.14159"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" value="$(find subt_example)/urdf/husky_equipments.urdf.xacro"/>
  </include>
  <include file="$(find subt_example)/launch/spawn_husky.launch">
    <arg name="namespace" value="robotC"/>
    <arg name="x" value="-2"/>
    <arg name="y" value="0"/>
    <arg name="z" value="0"/>
    <arg name="yaw" value="1.5"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="urdf_extras" value="$(find subt_example)/urdf/husky_equipments.urdf.xacro"/>
  </include>

  <include file="$(find subt_example)/launch/teleop.launch"/>

</launch>
