<?xml version="1.0"?>
<launch>

  <group ns="iris">
    <include file="$(find subt_example)/launch/spawn_iris.launch">
      <arg name="mav_name" value="iris" />
    </include>

    <!-- Sends motor commands to hold position -->
    <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_iris.yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/iris.yaml" />
      <remap from="odometry" to="odometry_sensor1/odometry" />
    </node>

    <!-- Given robot_descriptom parameter and joint states, publish TF frames -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Set an initial point for the quadcopter to hover at -->
    <node name="waypoint_publisher" pkg="rotors_gazebo" type="waypoint_publisher" args="0 0 1 0 5"/>
  </group>
</launch>
