<launch>

  # Launch the SubT world.
  <include file="$(find subt_gazebo)/launch/lava_tube.launch">
  </include>

  # Spawn your team here.
  <!-- Short-term hack to support the original front_laser:=true argument for spawning
       the simulator. This will be removed in favour of using the config:=x arg instead. -->
  <arg name="front_laser" default="true" />
  <arg name="default_config" value="front_laser" if="$(arg front_laser)" />
  <arg name="default_config" value="base" unless="$(arg front_laser)" />
  <!-- end of hack -->

  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="$(arg default_config)" />

  <!-- Spawn Jackal -->
  <include file="$(find subt_example)/launch/spawn_jackal.launch">
    <arg name="namespace" value="robot1"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="1"/>
    <arg name="yaw" value="0"/>
    <arg name="urdf_extras" value="$(find subt_example)/urdf/jackal_equipments.urdf.xacro"/>
    <arg name="config" value="$(arg config)"/>
  </include>
  <include file="$(find subt_example)/launch/spawn_jackal.launch">
    <arg name="namespace" value="robot2"/>
    <arg name="x" value="2"/>
    <arg name="y" value="1"/>
    <arg name="z" value="0.2"/>
    <arg name="yaw" value="3.14159"/>
    <arg name="urdf_extras" value="$(find subt_example)/urdf/jackal_equipments.urdf.xacro"/>
    <arg name="config" value="$(arg config)"/>
  </include>
  <include file="$(find subt_example)/launch/spawn_jackal.launch">
    <arg name="namespace" value="robot3"/>
    <arg name="x" value="-2"/>
    <arg name="y" value="0"/>
    <arg name="z" value="0.1"/>
    <arg name="yaw" value="1.5"/>
    <arg name="urdf_extras" value="$(find subt_example)/urdf/jackal_equipments.urdf.xacro"/>
    <arg name="config" value="$(arg config)"/>
  </include>

  <include file="$(find jackal_control)/launch/teleop.launch">
    <arg name="joystick" value="true"/>
  </include>
</launch>
