<?xml version="1.0"?>
<launch>

  <arg name="scenario" default="lava_tube"/>

  <!-- Launch the SubT world. -->
  <include file="$(find subt_gazebo)/launch/competition.launch">
    <arg name="scenario" value="$(arg scenario)"/>
  </include>

  <!-- Spawn your team here. -->
  <node pkg="subt_example" name="subt_example_node"
        type="subt_example_node" output="screen" />

</launch>
