<?xml version="1.0"?>
<launch>

  <!-- Spawn your team here. -->
  <arg name="x1_name" default="X1" />
  <arg name="x2_name" default="X2" />
  <arg name="iris_name" default="Iris" />

  <!-- Spawn X1 -->
  <arg name="laser_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>
  <include file="$(find x1_gazebo)/launch/spawn_x1.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
    <arg name="robot_namespace" value="$(arg x1_name)"/>
    <arg name="x" value="2"/>
    <arg name="y" value="1"/>
    <arg name="z" value="0.1"/>
    <arg name="yaw" value="3.14159"/>
  </include>

  <!-- Spawn X2 -->
  <!-- Short-term hack to support the original front_laser:=true argument for spawning
       the simulator. This will be removed in favour of using the config:=x arg instead. -->
  <arg name="front_laser" default="true" />
  <arg name="default_config" value="front_laser" if="$(arg front_laser)" />
  <arg name="default_config" value="base" unless="$(arg front_laser)" />
  <!-- end of hack -->
  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="$(arg default_config)" />
  <group ns="$(arg x2_name)">
    <include file="$(find x2_description)/launch/description.launch">
      <arg name="config" value="$(arg config)" />
      <arg name="robot_namespace" value="$(arg x2_name)" />
    </include>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model $(arg x2_name) -param robot_description -x 0 -y 1 -z 0.2" />
    <include file="$(find x2_control)/launch/control.launch">
      <arg name="robot_namespace" value="$(arg x2_name)" />
    </include>
  </group>

  <!-- Iris quadcopter -->
  <group ns="$(arg iris_name)">
    <include file="$(find subt_example)/launch/spawn_iris.launch">
      <arg name="mav_name" value="Iris" />
      <arg name="x" value="-1"/>
      <arg name="y" value="-1"/>
      <arg name="z" value="0.1"/>
    </include>
    <!-- Spawn a position controller -->
    <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_iris.yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/iris.yaml" />
      <remap from="odometry" to="odometry_sensor1/odometry" />
    </node>
    <!-- Give robot_descriptom parameter and joint states, publish TF frames -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- Convert cmd_vel into pose command so as to provide the same interface -->
    <node name="cmdvel_transform" pkg="subt_example" type="cmdvel_converter.py" args="/Iris/odometry_sensor1/pose /Iris/cmd_vel /Iris/command/pose"/>
  </group>

  <!-- Competitor's control nodes -->
  <node name="$(arg x1_name)_control" pkg="subt_example" type="subt_example_node" args="$(arg x1_name) 128.0.0.10" />
  <node name="$(arg x2_name)_control" pkg="subt_example" type="subt_example_node" args="$(arg x2_name) 128.0.0.11" />
  <node name="$(arg iris_name)_control" pkg="subt_example" type="subt_example_node" args="$(arg iris_name) 128.0.0.12" />

  <!-- Teleop node -->
  <include file="$(find subt_example)/launch/teleop.launch">
    <arg name="robot_config" value="$(find subt_example)/config/robot_config.yaml"/>
  </include>

</launch>
