
<?xml version='1.0'?>
<model>
  <name>Robotika Kloubak Config 1</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Martin Dlouhy</name>
    <email>md@robotika.cz</email>
  </author>

  <description>
    robot Kloubak - articulated robot, symmetric configuration, two planar lidars, two RGB cameras and two depth cameras.
  </description>
</model>

