<?xml version="1.0"?>

<model>
  <name>cave_90deg</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>ichen@openrobotics.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    A 90 degree L-shaped cave tile
  </description>
</model>
