<?xml version="1.0"?>

<model>
  <name>Tunnel Bend Right</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>ichen@osrfoundation.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <description>
    A bend right section of a tunnel
  </description>
</model>
