<launch>
  <arg name="config" default="base" />
  <arg name="robot_namespace" default="/" />
  <!-- Generate the tf_prefix from the namespace -->
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>

  <param name="robot_description"
         command="$(find x2_description)/scripts/env_run
                    $(find x2_description)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find x2_description)/urdf/x2.urdf.xacro
                    robot_namespace:=$(arg robot_namespace)
                    --inorder" />
  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
