<?xml version="1.0"?>
<model>
  <name>ctu_cras_norlab_spot_sensor_config_2</name>
  <sdf version="1.7">model.sdf</sdf>
  <description>
    Boston Dynamics Spot of CTU-CRAS-Norlab team with 12 breadcrumbs.
  </description>
  <depend>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/CTU_CRAS_NORLAB_SPOT_SENSOR_CONFIG_1</uri>
    </model>
  </depend>
</model>

