<?xml version="1.0"?>
<model>
  <name>csiro_data61_spot_sensor_config_1</name>
  <sdf version="1.7">model.sdf</sdf>
  <description>
    CSIRO-DATA61's Boston Dynamics Spot configuration
  </description>
  <depend>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/openrobotics/models/bosdyn_spot</uri>
    </model>
  </depend>
</model>
