<?xml version="1.0"?>

<model>
  <name>marble_qav500_sensor_config_3</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Derek Vasquez</name>
    <email>dvasquez@ssci.com</email>
  </author>

  <author>
    <name>Neil Johnson</name>
    <email>neil.johnson@ssci.com</email>
  </author>

  <description>
    QAV500 UAV with sensor configuration #2: 3D medium range lidar, IMU, pressure sensor, magnetometer, RGBD camera, 2x pico flexx tof cameras, 2x side facing RGBD cameras angled down.
  </description>
</model>
