<?xml version="1.0"?>

<robot name="x3" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find rotors_description)/urdf/component_snippets.xacro" />
  <!-- Instantiate x3 "mechanics" -->
  <xacro:include filename="$(find x3_description)/urdf/x3.xacro" />

  <!-- Instantiate a controller. -->
  <xacro:controller_plugin_macro namespace="${namespace}" imu_sub_topic="imu" />

  <gazebo>
    <plugin name="${namespace}_joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <robotNamespace>${namespace}/fixed</robotNamespace>
      <jointName>X3/pressure_sensor_joint, X3/magnetometer_joint, X3/imu_joint, X3/odometry_sensor1_joint</jointName>
      <alwaysOn>true</alwaysOn>
      <updateRate>1000</updateRate>
    </plugin>
  </gazebo>
</robot>

