<?xml version="1.0"?>

<robot name="x3_with_sensors" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find x3_description)/urdf/x3_base.xacro" />

  <xacro:odometry_plugin_macro
    namespace="${namespace}"
    odometry_sensor_suffix="1"
    parent_link="${namespace}/base_link"
    pose_topic="odometry_sensor1/pose"
    pose_with_covariance_topic="odometry_sensor1/pose_with_covariance"
    position_topic="odometry_sensor1/position"
    transform_topic="odometry_sensor1/transform"
    odometry_topic="odometry_sensor1/odometry"
    parent_frame_id="world"
    child_frame_id="${namespace}/odometry_sensor1"
    mass_odometry_sensor="0.00001"
    measurement_divisor="1"
    measurement_delay="0"
    unknown_delay="0.0"
    noise_normal_position="0 0 0"
    noise_normal_quaternion="0 0 0"
    noise_normal_linear_velocity="0 0 0"
    noise_normal_angular_velocity="0 0 0"
    noise_uniform_position="0 0 0"
    noise_uniform_quaternion="0 0 0"
    noise_uniform_linear_velocity="0 0 0"
    noise_uniform_angular_velocity="0 0 0"
    enable_odometry_map="false"
    odometry_map=""
    image_scale="">
    <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:odometry_plugin_macro>

  <xacro:include filename="$(find x3_description)/urdf/x3_equipments.urdf.xacro" />
  <xacro:include filename="$(find subt_sensors)/urdf/rgbd_camera.urdf.xacro" />

  <!-- Mount a magnetometer. -->
  <xacro:default_magnetometer namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Mount a pressure sensor. -->
  <xacro:default_pressure_sensor namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Mount an ADIS16448 IMU. -->
  <xacro:default_imu namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Sensor configuration #1
         * QVGA camera
         * IMU
  -->
  <xacro:if value="$(optenv X3_SENSOR_CONFIG_1 0)">
    <xacro:camera_macro
      namespace="${namespace}"
      parent_link="${namespace}/base_link"
      camera_suffix="front"
      frame_rate="30"
      horizontal_fov="2"
      image_width="320"
      image_height="240"
      image_format="R8G8B8"
      min_distance="0.02"
      max_distance="50"
      noise_mean="0.0"
      noise_stddev="0.007"
      enable_visual="true">
      <box size="0.02 0.05 0.05" />
      <origin xyz="0.1 0 0" rpy="0 0 0" />
    </xacro:camera_macro>
  </xacro:if>

  <!-- Sensor configuration #2
         * HD camera
         * IMU
  -->
  <xacro:if value="$(optenv X3_SENSOR_CONFIG_2 0)">
    <xacro:camera_macro
      namespace="${namespace}"
      parent_link="${namespace}/base_link"
      camera_suffix="front"
      frame_rate="30"
      horizontal_fov="2"
      image_width="1280"
      image_height="960"
      image_format="R8G8B8"
      min_distance="0.02"
      max_distance="50"
      noise_mean="0.0"
      noise_stddev="0.007"
      enable_visual="true">
      <box size="0.02 0.05 0.05" />
      <origin xyz="0.1 0 0" rpy="0 0 0" />
    </xacro:camera_macro>
  </xacro:if>

  <!-- Sensor configuration #3
         * QVGA RGBD camera
         * IMU
  -->
  <xacro:if value="$(optenv X3_SENSOR_CONFIG_3 0)">
    <xacro:rgbd_camera
       name="${namespace}/rgbd_camera"
       width="320"
       height="240"
    />
    <joint name="rgbd_camera_mount_joint" type="fixed">
      <origin xyz="0.05 0 -0.05" rpy="0 0.2618 0" />
      <parent link="${namespace}/base_link" />
      <child link="${namespace}/rgbd_camera_link" />
    </joint>
  </xacro:if>

  <!-- Sensor configuration #4
         * VGA RGBD camera
         * IMU
  -->
  <xacro:if value="$(optenv X3_SENSOR_CONFIG_4 0)">
    <xacro:rgbd_camera
       name="${namespace}/rgbd_camera"
       width="640"
       height="480"
    />
    <joint name="rgbd_camera_mount_joint" type="fixed">
      <origin xyz="0.05 0 -0.05" rpy="0 0.2618 0" />
      <parent link="${namespace}/base_link" />
      <child link="${namespace}/rgbd_camera_link" />
    </joint>
  </xacro:if>

</robot>
